@{
    ViewData["Title"] = "Experience";
}
<div class="container mt-3">
  <div class="row mb-3">
    <div class="col-sm-8 mb-3">
      <img width="100%" src="images/DnaComputerBanner.jpg" alt="Graduation, Biology, STEM">
    </div>
    <div class="col-md-4 d-flex align-items-center">
      <div class="center">
        <div class="row">
          <div class="col">
            <h1 class="display-4">Andrew Pino</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="align-items-sm-baseline">
              Biologist, Project Manager, QA and Data Analyst
            </div>
          </div>
        </div>
      </div>	
	</div>
</div>
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="images/LabDesk.png" alt="Graduation, Biology, STEM">
            <div class="card-body">
              <h5 class="card-title">Research Time!</h5>
              <p class="card-text">Setting up my station in the genetics lab for a long day of PCR and gel electrophoresis.</p>
            </div>
            @* <div class="card-footer"> *@
            @*   <small class="text-muted">Graduation With My Sisters of Biology</small> *@
            @* </div> *@
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="images/ComputerScience.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Technical Experience</h5>
            <p class="card-text">
              Qualiy Assurance and Software Project Management
            </p>
        </div>
        @* <div class="card-footer"> *@
        @*   <small class="text-muted">Last updated 3 mins ago</small> *@
        @* </div> *@
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="images/projectManagement.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Software Project Management</h5>
              <p class="card-text">Bestday ever, graduating with a B.S. in Biology with my sisters of science!</p>
            </div>
            @* <div class="card-footer"> *@
            @*   <small class="text-muted">Last updated 3 mins ago</small> *@
            @* </div> *@
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@* Below is the code for the accordion*@
<div class="container mt-3">
  <h2 class="display-4">Resume</h2>
  <div id="accordion">
    <div class="mb-3">
     <a href="images/ResumeProjectManagement.pdf" target="_blank" type="button" class="btn btn-outline-primary btn btn-default btn-sm medium-button-width download">Downlaod PDF</a>
    </div>
    @* Below is the code for the collapse 1 *@
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fa fa-question-square"></i>
            Skills
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	      <div class="card-body">
				<div class="row">
					<div class="col">
						<ul>
							<li>
								<p><span style="color: #17406d;"><span>Project Management</span></span></p>
							</li>
							<li>
								<p><span style="color: #17406d;"><span>Quality Assurance Testing</span></span></p>
							</li>
							<li>
								<p><span style="color: #17406d;"><span>Creating and Keeping Deadlines</span></span></p>
							</li>
							<li>
								<p><span style="color: #17406d;"><span>Data Analysis</span></span></p>
							</li>
							<li>
								<p><span style="color: #17406d;"><span>Problem Solving</span></span></p>
							</li>
							<li>
								<p><span style="color: #17406d;"><span>Microsoft Office Suite</span></span></p>
							</li>
							<li>
								<p><span style="color: #17406d;"><span>SQL</span></span></p>
							</li>
							<li>
								<p><span style="color: #17406d;"><span>Working with data</span></span></p>
							</li>
						</ul>
					</div>
                    <div class="col-6">
                        <ul>
                          <li>
                              <p><span style="color: #17406d;"><span>Strong Attention to Detail</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>Excellent Communication and Relationship Building Skills</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>Teamwork and Ability to Work Independently</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>Strong Organizational Skills</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>Critical Thinking</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>Multitasking</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>Reviewing, Reporting, and Research</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>DNA Extraction</span></span></p>
                          </li>
                      </ul>
                    </div>
                    <div class="col">
                        <ul>
                          <li>
                              <p><span style="color: #17406d;"><span>Primer Design</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>PCR</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>Gel Electrophoresis</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>DNA Sequencing</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>Fragment Analysis</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>Enzyme Restriction Assays</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>LB Plate Prep and Streaking</span></span></p>
                          </li>
                          <li>
                              <p><span style="color: #17406d;"><span>Pipetting</span></span></p>
                          </li>
                      </ul>
                    </div>
                </div>
	      </div>
      </div>
    </div>
    @* Below is the code for the collapse 2*@
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Experience
          </button>

        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          @* <p><span style="color: #17406d;"><span style="font-size: medium;"><strong>EXPERIENCE</strong></span></span></p> *@
          <p><span style="color: #17406d;"><strong>Research Assistant | Genetics ▪ Metropolitan State University Jan 2017 &ndash; Jan 2019</strong></span></p>
          <ul>
          	<li>
          		<p><span><span style="color: #17406d;">Developed microsatellite primers to study population structures for Fluminicola spp. </span></span></p>
          		<ul>
          			<li>
          				<p><span><span style="color: #17406d;">DNA extraction and microsatellite primer design</span></span></p>
          			</li>
          			<li>
          				<p><span><span style="color: #17406d;">PCR and PCR optimization</span></span></p>
          			</li>
          			<li>
          				<p><span><span style="color: #17406d;">Gel electrophoresis</span></span></p>
          			</li>
          			<li>
          				<p><span><span style="color: #17406d;">Fluorescently labeled primer pairs using M13 primers</span></span></p>
          			</li>
          			<li>
          				<p><span><span style="color: #17406d;">Fragment analysis was c</span></span><span><span style="color: #17406d;">ompleted</span></span><span><span style="color: #17406d;"> for genotyping and to determine polymorphism at microsatellite loci </span></span></p>
          			</li>
          		</ul>
          	</li>
          </ul>
          <p><span style="color: #17406d;"><strong>Project Business Analyst ▪ Self-employed Jan 2017 &ndash; Jan 2018</strong></span></p>
          <ul>
          	<li>
          		<p><span style="color: #17406d;"><span>Assisted in the development and implementation of software and website solutions</span></span></p>
          		<ul>
          			<li>
          				<p><span style="color: #17406d;"><span>Solved company issues and increased productivity and profits</span></span></p>
          			</li>
          		</ul>
          	</li>
          </ul>
          <p><span style="color: #17406d;"><strong>Software Quality Assurance Analyst and Project Manager ▪ Novus Biologicals Apr 2010 &ndash; Nov 2016</strong></span></p>
          <ul>
          	<li>
          		<p><span style="color: #17406d;"><span>Conceptualized software solutions for business needs</span></span></p>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><span>Provided complete SDLC quality assurance testing for in-house web based and desktop applications, new product features</span></span></p>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><span>Website testing</span></span></p>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><span>Maintained bug and enhancement requests using agile project management systems</span></span></p>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><span>Created testing documentation including smoke tests, release notes and training guides</span></span></p>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><span>Reviewed proteomic data for product updates and the addition of new products</span></span></p>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><span>Created reports and updated databases using SQL, SSRS and SSIS technologies</span></span></p>
          	</li>
          </ul>
          <p><span style="color: #17406d;"><strong>Business Development Associate ▪ Pike Studio Jul 2002 &ndash; Jan 2010</strong></span></p>
          <ul>
          	<li>
          		<p><span style="color: #17406d;"><span>Maintained website content</span></span></p>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><span>Designed and sent mailers</span></span></p>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><span>Light human resources work, CRM, and bookkeeping</span></span></p>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><span>Maintained material inventory and was responsible for purchasing</span></span></p>
          	</li>
          </ul>
        </div>
      </div>
    </div>
    @* Below is the code for the collapse 3*@
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Education
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          @* <p><span style="color: #17406d;"><span style="font-size: medium;"></span></span><span style="color: #17406d;"><span style="font-size: medium;"><strong>EDUCATION</strong></span></span></p> *@
          <p><span style="color: #17406d;"><strong>Masters of Heath Administration ▪ Metropolitan State University of Denver Current</strong></span></p>
          <ul>
          	<li>
          		<p><span style="color: #17406d;"><span>4.0 GPA</span></span></p>
          	</li>
          </ul>
          <p><span style="color: #17406d;"><strong>Bachelors of Science | Biology/Chemistry ▪ Metropolitan State University of Denver Jul 2018</strong></span></p>
          <ul>
          	<li>
          		<p><span style="color: #17406d;"><span>3.5 GPA</span></span></p>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><span>Diverse coursework including</span></span></p>
          	</li>
          </ul>
          <table>
          	<tbody>
          		<tr>
          			<td>
          				<ul>
          					<ul>
          						<li>
          							<p><span style="color: #17406d;"><span>Genetics Principals and Analysis </span></span></p>
          						</li>
          						<li>
          							<p><span style="color: #17406d;"><span>Microbiology</span></span></p>
          						</li>
          						<li>
          							<p><span style="color: #17406d;"><span>Virology</span></span></p>
          						</li>
          						<li>
          							<p><span style="color: #17406d;"><span>Mycology</span></span></p>
          						</li>
          						<li>
          							<p><span style="color: #17406d;"><span>Parasitology</span></span></p>
          						</li>
          					</ul>
          				</ul>
          			</td>
          			<td>
          				<ul>
          					<ul>
          						<li>
          							<p><span style="color: #17406d;"><span>Ornithology</span></span></p>
          						</li>
          						<li>
          							<p><span style="color: #17406d;"><span>Animal Ecology</span></span></p>
          						</li>
          						<li>
          							<p><span style="color: #17406d;"><span>Laboratory Techniques</span></span></p>
          						</li>
          						<li>
          							<p><span style="color: #17406d;"><span>Biochemistry I and II</span></span></p>
          						</li>
          						<li>
          							<p><span style="color: #17406d;"><span>Undergraduate Research (2 Semesters)</span></span></p>
          						</li>
          					</ul>
          				</ul>
          			</td>
          		</tr>
          	</tbody>
          </table>
          <p><span style="color: #17406d;"><span style="font-size: medium;"><strong>UNDERGRADUATE CAPSTONE PROJECT</strong></span></span></p>
          <p><span style="color: #17406d;"><strong>CCR5 &Delta;32 Mutation Population Study J</strong></span><span style="color: #17406d;"><span><strong>an 2017 &ndash; Nov 2017</strong></span></span></p>
          <ul>
          	<li>
          		<p><span style="color: #17406d;"><span>Optimized primers that specify the region of DNA containing the CCR5 &Delta;32 deletion</span></span></p>
          		<ul>
          			<li>
          				<p><span style="color: #17406d;"><span>Three primer pairs were developed and cross tested</span></span></p>
          				<ul>
          					<li>
          						<p><span style="color: #17406d;"><span>Strong amplification was present in eight of the nine primer pairs tested</span></span></p>
          					</li>
          				</ul>
          			</li>
          		</ul>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><span>Restriction enzymes were used to create two fragments for normal DNA, allowing persons that do and do not contain the mutation to be identified</span></span></p>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><span>Samples were visualized using gel electrophoresis</span></span></p>
          	</li>
          </ul>
        </div>
      </div>
    </div>
    @* Below is the code for the collapse 4*@
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Awards and Certifications
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          @* <p><span style="color: #17406d;"><span style="font-size: medium;"><strong>AWARDS AND CERTIFICATIONS</strong></span></span></p> *@
          <ul>
          	<li>
          		<p><span style="color: #17406d;"><strong>The Data Scientist&rsquo;s Toolbox</strong></span></p>
          		<ul>
          			<li>
          				<p><span style="color: #17406d;"><span>Certification</span></span></p>
          			</li>
          		</ul>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><strong>Introduction to Software Product Management</strong></span></p>
          		<ul>
          			<li>
          				<p><span style="color: #17406d;"><span>Certification</span></span></p>
          			</li>
          		</ul>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><strong>Auraria Research Conference 2017</strong></span></p>
          		<ul>
          			<li>
          				<p><span style="color: #17406d;"><span>Certificate of Recognition</span></span></p>
          			</li>
          		</ul>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><strong>Introduction to Python Programming</strong></span></p>
          		<ul>
          			<li>
          				<p><span style="color: #17406d;"><span>In progress</span></span></p>
          			</li>
          		</ul>
          	</li>
          </ul>
        </div>
      </div>
    </div>
    @* Below is the code for the collapse 5*@
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Volunteerism and Leadership
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
          <p><span style="color: #17406d;"><span style="font-size: medium;"><strong>VOLUNTEERISM AND LEADERSHIP</strong></span></span></p>
          <ul>
          	<li>
          		<p><span style="color: #17406d;"><strong>UCHealth</strong></span></p>
          		<ul>
          			<li>
          				<p><span style="color: #17406d;"><span>Research Administration</span></span></p>
          			</li>
          		</ul>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><strong>STEM and CO-WY AMP</strong></span></p>
          		<ul>
          			<li>
          				<p><span style="color: #17406d;">Peer Mentor and </span><span style="color: #17406d;"><span>Secondary School Science Teaching Assistant</span></span></p>
          			</li>
          		</ul>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><strong>Colorado Democratic Party</strong></span></p>
          		<ul>
          			<li>
          				<p><span style="color: #17406d;"><span>Data Captain</span></span></p>
          			</li>
          		</ul>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><strong>C.A.S.S | Connecting Alumni School and Spirit</strong></span></p>
          		<ul>
          			<li>
          				<p><span style="color: #17406d;"><span>Vice President</span></span></p>
          			</li>
          		</ul>
          	</li>
          	<li>
          		<p><span style="color: #17406d;"><strong>GLBTQ</strong></span></p>
          		<ul>
          			<li>
          				<p><span style="color: #17406d;"><span>President</span></span></p>
          			</li>
          		</ul>
          	</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            Project Management
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          @* <p><span style="color: #17406d;"><span style="font-size: medium;"><strong>PERSONAL ACHIEVEMENTS</strong></span></span></p> *@
          <p><span style="color: #17406d;"><strong>Mass Image Processing Tool</strong></span></p>
          <p><span style="color: #17406d;"><span>Conceptualized, created requirements, including mockups, and followed through with the completion of the project. This program allows users to import mass numbers of images while still allowing to view and make edits as needed. This increased the Google rank of products on our website and contributed tremendously to the company growing from 2M per year to over 2M per month. </span></span></p>
          <p><span style="color: #17406d;"><strong>Advanced Product Filter</strong></span></p>
          <p><span style="color: #17406d;"><span>Conceptualized, created requirements, including mockups, and followed through with the completion of the project. This program allows users to provide basic input and outputs that generate SQL based reports. This dramatically decreased the number of reporting requests for IT, e.g., creating SSRS reports. This also dramatically increased the throughput of the data management team, allowing them to easily clean data and keep it up-to-date. The database holds over 450,000 complex products that are managed by a very small team. This feature also contributed to a higher Google ranking and an over-all better web presence for products.</span></span></p>
          <p><span style="color: #17406d;"><strong>Legacy Product Management</strong></span></p>
          <p><span style="color: #17406d;"><span>The above-mentioned product features represent two features of an amazing product management tool. I have ownership of many other features and was also responsible for the prioritization of bug fixes, enhancement requests and processing user stories through the SDLC.</span></span></p>
          <p><span style="color: #17406d;"><strong>Software Development Data Analyst</strong></span></p>
          <p><span style="color: #17406d;"><span>Throughout my career I have been responsible for the movement and quality of very large datasets. This includes processing data for companies in acquisition, analyzing the results and creating actionable items for the development and data teams.</span></span></p>
          <p><span style="color: #17406d;"><strong>Agile Development Administration</strong></span></p>
          <p><a name="_GoBack"></a> <span style="color: #17406d;"><span>I spearheaded the creation of a QA Analyst team and moved IT and marketing from using printed paper tickets to using a project management system, increasing productivity and maximizing communication with stakeholders. This included setting up appropriate workflows, training the development team and stakeholders and setting up and maintaining Scrum, Backlog and Bug queues.</span></span></p>
          <p><span style="color: #17406d;"><strong>Quality Assurance Lead</strong></span></p>
          <p><span style="color: #17406d;"><span>Starting as a single QA Analyst, I trained a QA staff of three fulltime employees and one part-time employee. This team now maintains smoke tests and is responsible for testing three websites, one massive legacy data management system and development of a new data management tool that will replace the above-mentioned data management tool as well as another legacy tool that was folded in as the result of acquisition.</span></span></p>
        </div>
      </div>
    </div>
  </div>
</div>