@{
    ViewData["Title"] = "Blog Editor Login";
}
<div class="login-form-container">
    <form class="login-form" method="post" enctype="multipart/form-data" asp-controller="Login" asp-action="Login">
        @if (Url.ActionContext.HttpContext.Request.Query["ReturnUrl"].Count > 0)
        {
            <input type="hidden" name="returnUrl" value="@Url.ActionContext.HttpContext.Request.Query["ReturnUrl"][0]">
        }
        <div class="login-form-username-container">
            <label for="userName" class="login-form-username-label">User Name</label>
            <div class="login-form-username-input-container">
                <input class="login-form-username" id="userName" name="userName"/>
            </div>
        </div>
        <div class="login-form-password-container">
            <label for="password" class="login-form-password-label">Password</label>
            <div class="login-form-password-input-container">
                <input class="login-form-password" type="password" id="password" name="password"/>
            </div>
        </div>
        <div class="login-form-button-container">
            <button type="submit" class="login-form-button">Log in</button>
        </div>
    </form>
</div>
@if (Url.ActionContext.HttpContext.Request.Query["InvalidLogin"].Count > 0)
{
    <div class="login-message">
        Invalid Attempt
    </div>
}
