@model LoginMessage
@{
    ViewData["Title"] = "Blog Editor Login";
}
<div class="login-form-container">
    <form class="login-form" method="post" enctype="multipart/form-data" asp-controller="Login" asp-action="Login">
        <div class="login-form-username-container">
            <label for="userName" class="login-form-username-label">User Name</label>
            <div class="login-form-username-input-container">
                <input class="login-form-username" id="userName" name="userName"/>
            </div>
        </div>
        <div class="login-form-password-container">
            <label for="password" class="login-form-password-label">Password</label>
            <div class="login-form-password-input-container">
                <input class="login-form-password" id="password" name="password"/>
            </div>
        </div>
        <div class="login-form-button-container">
            <button type="submit" class="login-form-button">Log in</button>
        </div>
    </form>
</div>
<div class="login-message">
    @Model.Message
</div>