@{
    ViewData["Title"] = "Blog Entry";
}
@using AndrewPino.BlogDb.DataModels
@model BlogEntry
<script src="~/ckeditor/ckeditor.js"></script>
<div class="container align-content-center">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-xs-center">Submit new post</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data" asp-controller="Blog" asp-action="Submission">
                @if (Model.Blog != null)
                {
                    <input type="hidden" name="BlogId" value="@Model.Blog.BlogId"/>
                }
                <div class="form-group">
                    <input type="text" name="Title" class="form-control" value="@Model.Blog?.Title" placeholder="Title">
                </div>
                <textarea name="Body" id="Body" rows="10" class="blog-text-block">@Html.Raw(Model.Blog?.Body)</textarea>
                <script>
                    CKEDITOR.replace( 'Body' );
                </script>
                <br>
                @if (Model.AvailableBlogTags.Count > 0)
                {
                    <div class="form-group">
                        <select name="BlogTagIds" asp-items="@Model.AvailableBlogTags" multiple="multiple"></select>
                    </div>
                }
                <div class="form-group">
                    <input type="text" name="NewTags" class="form-control" placeholder="Input new tags separated by commas">
                </div>
                <div class="form-group">
                    <input type="file" class="btn btn-secondary" name="Image"/>
                    <button type="submit" class="btn btn-primary">Save Post</button>
                </div>
            </form>
        </div>
    </div>
</div>

