@{
    ViewData["Title"] = "Blog Post Successful";
}

@model AndrewPino.BlogDb.DataModels.Blog

<div class="container mt-3">
    <div class="row">
        <h4 class="text-center">Post Successful!</h4>
    </div>
    <div class="row">
        <h3 class="text-center">
            @Model.Title
        </h3>
    </div>
</div>
