@{
    ViewData["Title"] = "Biologist, Project Manager, QA Analyst, Data Analyst and MHA Candidate: Andrew Pino";
}
<div class="container mt-3">
  <div class="row mb-3">
    <div class="col-sm-8 mb-3">
      <img width="100%" src="images/StemBanner.jpeg" alt="Graduation, bachelor's of science in biology">
    </div>
    <div class="col-md-4 d-flex align-items-center">
      <div class="center">
        <div class="row">
          <div class="col">
            <h1 class="display-4">Andrew Pino</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="align-items-sm-baseline">
              Biologist, Project Manager, QA and Data Analyst
            <div class="align-items-sm-baseline">
              MHA Candidate
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="images/AndrewTeachingClass.png" alt="Graduation, Biology, STEM">
            <div class="card-body">
              <h5 class="card-title">Teaching Summer Science</h5>
              <p class="card-text">Genetics Day of STEM summer science camp. My star pupal showing off his helix. Students were taught a different subject everyday, from computer science to chemistry.</p>
            </div>
            @* <div class="card-footer"> *@
            @*   <small class="text-muted">Graduation With My Sisters of Biology</small> *@
            @* </div> *@
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="images/Gel.png" alt="PCR">
            <div class="card-body">
              <h5 class="card-title">Developing microsatellite markers</h5>
              <p class="card-text">After developing DNA primers, preforming PCR and running countless gels… The research gods smiled upon me. Fragment analysis showed variation at every loci tested!</p>
            </div>
            @* <div class="card-footer"> *@
            @*   <small class="text-muted">Graduation With My Sisters of Biology</small> *@
            @* </div> *@
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="images/nasa.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Research Conference</h5>
          <p class="card-text">This is me presenting at the Metropoliatan State University research conference in 2018. I developed promer pairs for population studies and got to show off my fluresent M13 tailed primer skills. I even got my poster signed by this amazing woman of STEM! Single mom, NASA engineer, writer, speaker. #reneehortonphd</p>
        </div>
        @* <div class="card-footer"> *@
        @*   <small class="text-muted">Last updated 3 mins ago</small> *@
        @* </div> *@
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" src="images/graduation.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Graduation Day</h5>
              <p class="card-text">Bachelor's of science majoring in biology with a chemistry minor. It was a long road, took a break from school and entered the cooperate world working in proteomics for 7 years. Best day ever celebrating with my sisters of science!</p>
            </div>
            @* <div class="card-footer"> *@
            @*   <small class="text-muted">Last updated 3 mins ago</small> *@
            @* </div> *@
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <img class="card-img-top" height="50%" src="images/Code.png" alt="Getting My Code On">
            <div class="card-body">
              <h5 class="card-title">Getting My Code On</h5>
              <p class="card-text">In the image above, I am actually getting my HTML on.  It is a MVC project, so it does require a technical touch.</p>
            </div>
            @* <div class="card-footer"> *@
            @*   <small class="text-muted">Last updated 3 mins ago</small> *@
            @* </div> *@
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@* Below is the code for the accordion*@
<div class="container mt-3">
  <ul class="list-group">
    <li class="list-group-item">
      <h2>About</h2>
      <div>Hello, my name is Andrew Pino. I earned my bachelor of science degree in biology from the Metropolitan State University of Denver and am currently a masters of health administration (MHA) candidate. I am also passionate about volunteerism for my school and community. I am very much a people person. I love working on cross functional teams and working on new and evolving projects. I am a fun person and like to laugh. When I’m not busy being a science or business nerd, I spend my time binge watching Netflix with my husband and playing with our four adorable pups.</div>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Resume</h2>
          <a href="/Resume" type="button" class="btn btn-outline-primary btn btn-default btn-sm small-button-width">Resume</a>
      </div>
      <div>
        Project management has been the core of my career.  I have experience with software project management, website project management, quality assurance testing, even managing projects in the lab related to the development of genetic markers for population studies.  I have remarkable people skills and work well with cross functional teams.  I enjoy facilitating ‘meetings of the minds’.  My days included running daily stands, gathering requirements, and roll out of new or updated products or business processes.  I have worked for start-ups, mid-size companies, participated in the acquisition of companies, and worked in a company that was acquired.   I feel comfortable in each of these business settings and excel at forming strong relationships with end-users and development teams.
      </div>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Projects</h2>
         <a href="/Projects" type="button" class="btn btn-outline-primary btn btn-default btn-sm small-button-width">Projects</a>
      </div>
      <div>
          I have managed many projects in a variety of settings. This includes everything from implementing data management solutions to optimizing lab efficiency. I find taking business requirements and working with end-users to develop innovative solutions exciting.
      </div>
    </li>
    <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Research</h2>
            <a href="/Research" type="button" class="btn btn-outline-primary btn btn-default btn-sm small-button-width">Research</a>
        </div>
        <div>
            View my research poster from the 2017 Metropolitan State University research conference. I presented a poster on population genetics and had the opportunity to meet an amazing NASA engineer Renee Horton PhD. She signed my poster!
        </div>
    </li>
    @*<li class="list-group-item d-flex justify-content-between align-items-center">
      <h2>Contact</h2>
        <a href="/Contact" type="button" class="btn btn-outline-primary btn btn-default btn-sm small-button-width">Contact</a>*@
  </ul>
</div>
      
