@{
    ViewData["Title"] = "Research Projects for Andrew Pino: Andrew Pino";
}
<div class="embed-responsive" style="padding-bottom:80%">
    <object data="images/ResearchPoster.pdf" type="application/pdf" width="100%" height="100%"></object>
</div>
<div class="embed-responsive" style="padding-bottom:75%">
    <object data="images/PrimerPairExample.pdf" type="application/pdf" width="100%" height="100%"></object>
</div>